[user]
	name = Hugo McNally
	email = hugo.mcnally@gmail.com
	signingkey = D7810EF3B13837DAA7E8035B163536ECED337789

[commit]
	gpgsign = true

[init]
	defaultbranch = main

[diff]
	tool = nvr

[difftool "nvr"]
	cmd = nvr -s -d $LOCAL $REMOTE

[merge]
	tool = nvr
	conflictStyle = zdiff3

[mergetool "nvr"]
	cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[alias]
	detective = blame -w -C -C -C
	wd = diff --word-diff
	fpush = push --force-with-lease
	c = clean -xfd
[rerere]
	enable = true
[branch]
	sort = -committerdate
[fetch]
	writeCommitGraph = true
